{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/bubble.css') }}>

    <h1>Hi, {{ user.email }}!</h1>
    <div>
        <div class="chat" id="chat_container"></div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.text.label }}<br>
                {{ form.text(size=64) }}
            </p>
            <a href="#" id="send_message"><p>{{ form.submit() }}</p></a>
        </form>
    </div>
{% endblock %}